//@import 'scss/helpers';

$widths: (sm: 750px, md: 970px, lg: 1170px);

.container {
  position: relative;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @each $grade, $value in $widths {
    @include breakpoint-up($grade) {
      width: $value;
    }
  }
}